.nav-item, li img{
    width: 60px;
    height: 70px;
    margin-top: -15px;
    margin-bottom: -16px;
  }
  .nav{
    background-color: C4C4C4;
    margin-top: 20px;
  }
  .nav-item, li >text{
    color: black;
  }
  .nav-item{
    height: 70px;
    background-color: C4C4C4;
  }
  .nav-top{
   background-color: C4C4C4;
  }

cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-left: 5px;
}

.shop-items {
    display: flex;
    flex-direction: row;
}


/*=========cart==== */

.cart-items {
    max-width: 41rem;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 3.2rem;
}
.cart-row {
    max-width: 41rem;
    width: 100%;
    display: flex;
    border-bottom: 4px solid lightgrey;
}
.product-title {
    width: 30%;
}
.product-price {
    width: 30%;
}
.product-quantity {
    width: 25%;
}