 .nav-item, li img{
   width: 60px;
   height: 70px;
   margin-top: -15px;
   margin-bottom: -16px;
 }
 .nav{
   background-color: 3216DF;
   margin-top: 20px;
 }
 .nav-item, li >text{
   color: black;
 }
 .nav-item{
   height: 70px;
 }
.carousel-item> img{
  background-size: cover;
  height: 70vh;
}
.footer{
  margin-right: 0%;
  margin-left: 0px;
  display: flex;
  background-color: grey;
  margin-top: 0px;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 20px;
}
.products, col .order-1{
  margin-top: -1000;
}
.products,col{
  justify-content: space-around;
}
.row1{
  margin-top: 5px;
}
.products >h2{
  text-align: center;
  margin-top: 5px;
}
.customer-reviews >h2{
  text-align: center;
}